<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Популярные вопросы</title>
</head>
<body>
<div class="questions-wrap">
    {% for question in questions %}
    <div class="question">
        <h2>{{ question.title }}</h2>
        <p><a href="/question/{{ question.id }}/">Подробнее</a></p>
    </div>
    {% endfor %}
    <nav>
        <ul class="pagination">
            {% for p in paginator.page_range %}
            {% if p == page.number %}
            <li class="active">
                {% else %}
            <li>
                {% endif %}
                <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
</body>
</html>
